.font-borel             { font-family: 'Borel', cursive; }
.font-bowlby            { font-family: 'Bowlby One SC', sans-serif; }
.font-caprasimo         { font-family: 'Caprasimo', cursive; }
.font-carter            { font-family: 'Carter One', cursive; }
.font-chiron            { font-family: 'Chiron Sung HK', sans-serif; }
.font-coiny             { font-family: 'Coiny', cursive; }
.font-comic-neue        { font-family: 'Comic Neue', cursive; }
.font-comic-relief      { font-family: 'Comic Relief', cursive; }
.font-dm-sans           { font-family: 'DM Sans', sans-serif; }
.font-delius            { font-family: 'Delius', cursive; }
.font-edu-hand          { font-family: 'Edu VIC WA NT Hand Pre', cursive; }
.font-electrolize       { font-family: 'Electrolize', sans-serif; }
.font-holtwood          { font-family: 'Holtwood One SC', serif; }
.font-huninn            { font-family: 'Huninn', sans-serif; }
.font-iceland           { font-family: 'Iceland', sans-serif; }
.font-jost              { font-family: 'Jost', sans-serif; }
.font-kalam             { font-family: 'Kalam', cursive; }
.font-kavoon            { font-family: 'Kavoon', cursive; }
.font-leckerli          { font-family: 'Leckerli One', cursive; }
.font-libre-baskerville { font-family: 'Libre Baskerville', serif; }
.font-luckiest          { font-family: 'Luckiest Guy', cursive; }
.font-ma-shan           { font-family: 'Ma Shan Zheng', cursive; }
.font-marck             { font-family: 'Marck Script', cursive; }
.font-matangi           { font-family: 'Matangi', sans-serif; }
.font-meow              { font-family: 'Meow Script', cursive; }
.font-montserrat        { font-family: 'Montserrat', sans-serif; }
.font-ms-madi           { font-family: 'Ms Madi', cursive; }
.font-notable           { font-family: 'Notable', sans-serif; }
.font-orbitron          { font-family: 'Orbitron', sans-serif; }
.font-oregano           { font-family: 'Oregano', cursive; }
.font-pacifico          { font-family: 'Pacifico', cursive; }
.font-pirata            { font-family: 'Pirata One', cursive; }
.font-racing            { font-family: 'Racing Sans One', sans-serif; }
.font-rancho            { font-family: 'Rancho', cursive; }
.font-roboto            { font-family: 'Roboto', sans-serif; }
.font-sacramento        { font-family: 'Sacramento', cursive; }
.font-solitreo          { font-family: 'Solitreo', cursive; }
.font-texturina         { font-family: 'Texturina', serif; }
.font-unifraktur        { font-family: 'UnifrakturMaguntia', cursive; }
.font-wdxl              { font-family: 'WDXL Lubrifont JP N', sans-serif; }
.font-yellowtail        { font-family: 'Yellowtail', cursive; }

/* Added Fonts */
.font-tangerine         { font-family: 'Tangerine', cursive; }
.font-rouge-script      { font-family: 'Rouge Script', cursive; }
.font-corinthia         { font-family: 'Corinthia', cursive; }
.font-dancing-script    { font-family: 'Dancing Script', cursive; }
.font-lobster           { font-family: 'Lobster', cursive; }
.font-galada            { font-family: 'Galada', cursive; }
.font-yesteryear        { font-family: 'Yesteryear', cursive; }
.font-cookie            { font-family: 'Cookie', cursive; }
.font-parisienne        { font-family: 'Parisienne', cursive; }
.font-lovers-quarrel    { font-family: 'Lovers Quarrel', cursive; }
.font-gwendolyn         { font-family: 'Gwendolyn', cursive; }
.font-nautigal          { font-family: 'The Nautigal', cursive; }
.font-engagement        { font-family: 'Engagement', cursive; }
.font-rochester         { font-family: 'Rochester', cursive; }
.font-allura            { font-family: 'Allura', cursive; }
.font-carattere         { font-family: 'Carattere', cursive; }
.font-romanesco         { font-family: 'Romanesco', cursive; }
.font-bilbo             { font-family: 'Bilbo Swash Caps', cursive; }
.font-italianno         { font-family: 'Italianno', cursive; }
